<html>
<head>
	<link rel="stylesheet" href="static/style.css">
	<!-- CSS styling -->
</head>
	<body>
		<div class="container">
		  <img src="static/Cloth-Fabric-Background-5.jpg" style="width:100%;">
		  <div class="centered">
		  	<h1>{{text}}</h1>
		  	<!-- Tells Jinja to use the argument "text" passed in render_template -->
		  	<table style="width:100%">
	  			<tr>
	  				<td align="center"><a href="/pick_deck"><img src={{cut_deck_image}} width="300"></a>
	  				</td>
	  				<td align="center"><a href="/pick_deck"><img src={{cut_deck_image}} width="300"></a>
	  				</td>
	  			</tr>
	  		</table>
		</div>
	</div>
</body>