<html>
<head>
	<link rel="stylesheet" href="static/style.css">
</head>
	<body>
		<div class="container">
		  <img src="static/Cloth-Fabric-Background-5.jpg" alt="Snow" style="width:100%;">
		  <div class="centered">
		  	<h1>{{text}}</h1>
		  	<table style="width:100%">
	  			<tr><form action="/final_reading" method="POST">
	  				<td align="center"><img src={{five_card_image}} width="200"><br>
	  					<input type="checkbox" class="largerCheckbox">
	  				</td>
	  				<td align="center"><img src={{five_card_image}} width="200"><br>
	  					<input type="checkbox" class="largerCheckbox">
	  				</td>
	  				<td align="center"><img src={{five_card_image}} width="200"><br>
	  					<input type="checkbox" class="largerCheckbox"><br>
	  					<input type="submit" value="Reveal the cards!">
	  				</td>
	  				<td align="center"><img src={{five_card_image}} width="200"><br>
	  					<input type="checkbox" class="largerCheckbox">
	  				</td>
	  				<td align="center"><img src={{five_card_image}} width="200"><br>
	  					<input type="checkbox" class="largerCheckbox">
	  				</td>
	  			</form>
	  			</tr>
	  		</table>
		</div>
	</div>
</body>